@model ProductFolderListViewModel
@{
    //TODO: Добавить страницы!
    //TODO: Добавить локализацию!
}

<div class="contaner">
    <div class="list-group">
        @foreach (var productFolder in Model.ProductFolders)
        {
            <div class="list-group-item">
                <div class="d-flex">
                    <div class="me-auto">
                        <h6>@productFolder.Name</h6>
                    </div>

                    <form asp-action="CreateAsFolder" asp-controller="Assortment" method="post">
                        <button class="btn btn-primary">@T["Create Assortment Query"]</button>
                        <input type="hidden" name="hRef" value="@productFolder.Meta.Href">
                    </form>
                                        
                </div>
            </div>
        }
    </div>
   
</div>

