@model MoyskladProductFolderViewModel
@{
    //TODO: Добавить страницы!
    //TODO: Добавить локализацию!
}

<div class="contaner">
    <div class="list-group">
        @foreach (var productFolder in Model.ProductFolders)
        {
            <div class="list-group-item">
                <div class="d-flex">
                    <div class="me-auto">
                        <h6>@productFolder.Name</h6>
                    </div>

                    <button asp-action="" type="button" class="btn btn-primary">Создать Ассоритимент</button>
                </div>
            </div>
        }
    </div>
   
</div>

