@model AssortmentQueryPartViewModel

<a asp-action="List" asp-controller="Assortment" asp-route-area="OrchardCore.Moysklad" asp-route-contentItemId="@Model.ContentItem.ContentItemId" asp-route-returnUrl="@FullRequestPath" class="btn btn-sm btn-warning">@T["Assortment List"]</a>
